body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    text-align: center;
    font-family: 'Asap', sans-serif;
    margin-bottom: 30px;
}

h5{
    
}

#insere-colab{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ocultar{
    display: none;
}

label{
    margin-bottom: 5px;
}

input{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 265px;
}

#botoes label{
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

ol{
    margin-top: 50px;
}